<div class="container">

    <h1>

        <span>Todo List App</span>

    </h1>


    <h2>
        
        <p>Your List</p>
        
    </h2>


    {{#each todos}}

        <a href="/{{id}}">

            <p>
            
                {{title}}: 
        </a>
            
                {{isdone}}
            
            </p>

        <hr>

    {{/each}}

</div>