<div class="container">

    <h1>{{title}}</h1>

    <a href="/{{id}}/edit"> Edit Todo Entry</a>

    <br>

    <a href="/{{id}}/delete"> Delete Todo Entry</a>

    <br>

    <a href="/"> Return to List</a>

</div>