<div class="container">

    <h1>

        <span>Delete Todo from List?</span>

    </h1>


    <form action="/delete" method="POST">

        <input type="hidden" name="id" value="{{id}}">
        
        <input type="Submit" name="title" value="Delete">

    </form>

    <br>

    <a href="/"> Return to List</a>
    
</div>