<div class="container">

    <h1>

        <span>Edit Todo</span>

    </h1>


    <form action="/edit" method="POST">

        <input type="hidden" name="id" value="{{id}}">
        <input type="text" name="title" value="{{title}}">

        <br>
        <br>
        
        <input type="submit">
        <input type="reset">

    </form>


    <label for="finished">Todo Complete?:&nbsp;</label>

    {{#if isdone}}

        <input type="checkbox" name="finished" checked="checked">

    {{else}}

        <input type="checkbox" name="finished">

    {{/if}}

    <br>

    <a href="/"> Return to List</a>

</div>