<form action="/edit" method="POST">

    <input type="hidden" name="id" value="{{id}}">
    <input type="text" name="title" value="{{title}}">

    <br>
    <br>
    
    <input type="submit">
    <input type="reset">

</form>